
<style>
  .content_r {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
  }

  .main_r {
    width: 100%;
    background-color: rgb(196, 196, 196);
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
  }

  .item_r {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    height: 40px;
  }

  span {
    margin-right: 10px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background: #fff;
  }

  th, td {
    border: 1px solid #999;
    padding: 8px;
    text-align: center;
  }

  th {
    /* background: #eee; */
  }

  textarea {
    width: 95%;
  }

  .button_r {
    margin-top: 20px;
    width: 120px;
    height: 40px;
    background: rgb(26, 227, 19);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .scroll_r {
    overflow-y: auto;
  }
</style>





<app-header/>
<div class="content">
      <app-navbar/>
  <div *ngIf="!requestSlipType" class="main scroll">
    <div style="display: flex; justify-content: center; font-size: 2rem; color: red;">Danh sách thiết bị</div>
    <div style="display: flex; justify-content: flex-end; margin-bottom: 20px;">

      <a (click)="layDanhSachThietBiDangTick()"  style="color: #fff; display: flex; justify-content: center; align-items: center; text-decoration: none; background-color: rgb(14, 229, 28); width: 150px; height: 40px;" class="nav_item" routerLinkActive="active" ariaCurrentWhenActive="page">
        Tạo phiếu 
      </a>
    </div>

    <div>
          <table>
              <thead>
                  <tr>
                    <th>STT</th>
                    <th>Tên thiết bị</th>
                    <th>Loại thiết bị</th>
                    <th>Mô tả thiết bị</th>
                    <th>Tình trạng</th>
                    <!-- <th>Bộ môn</th> -->
                    <th>Số lượng</th>
                    <th style="padding-left: 30px; width: 60px;">Đăng ký</th>
                  </tr>
              </thead>
                <tbody>
                    <tr *ngFor="let x of equipments;let i = index" >
                      <td>{{i+1}}</td>
                      <td>{{x.EQUIPMENT_ITEM_Name}}</td>
                      <td>{{x.EQUIPMENT_MODEL_Name}}</td>
                      <td>{{x.EQUIPMENT_ITEM_Description}}</td>
                      <td>{{x.EQUIPMENT_ITEM_Status}}</td>
                      <!-- <td>{{x.Department}}</td> -->
                      <td>{{x.EQUIPMENT_ITEM_Quantity}}</td>
                       <td style="text-align:center">
                        <input
                          type="checkbox"
                          [(ngModel)]="x.checked"
                        />
                        <!-- <a (click)="muonThietBi(x.ID)" [routerLink]="x.EQUIPMENT_ITEM_Status !== 'Có sẵn' ? '/thiet-bi':'/muon'"  style="color: rgb(14, 229, 28); display: flex; justify-content: center; text-decoration: none;" class="nav_item" routerLinkActive="active" ariaCurrentWhenActive="page">
                          <i class="fas fa-check-circle"></i>
                        </a> -->
                        <!-- <a (click)="muonThietBi(x.ID)" routerLink="/muon"  style="color: rgb(14, 229, 28); display: flex; justify-content: center; text-decoration: none;" class="nav_item" routerLinkActive="active" ariaCurrentWhenActive="page">
                          <i class="fas fa-check-circle"></i>
                        </a> -->
                      </td>
                    </tr>
                </tbody>
          </table>
      </div>
  </div>
    <div *ngIf="requestSlipType" class="main_r scroll_r">
    <h2 style="text-align:center; color:red;">
      Gửi đề xuất yêu cầu
    </h2>
        <button class="btn-add" (click)="themHang()">
  ➕ Thêm hàng
</button>

    <div class="item_r">
      <span>Tên phiếu:</span>
      <input  [(ngModel)]="REQUEST_SLIP_Name" style="width:50%">
    </div>

    <div class="item_r">
      <span>Giáo viên:</span>
      <span>{{user.USER_FullName}}</span>
    </div>

    <table>
      <thead>
        <tr>
          <th>STT</th>
          <th>Tên</th>
          <th>Mô tả</th>
          <th>Loại</th>
          <th>Số lượng</th>
          <th>Tình trạng</th>
          <th>Đề xuất</th>
          <th>Thao tác</th>
  
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let eq of equipments; let i = index">
          <td>{{ i + 1 }}</td>
<td>
  <textarea
    [(ngModel)]="eq.EQUIPMENT_ITEM_Name"
    placeholder="Tên thiết bị"
    rows="2"
  ></textarea>
</td>

<td>
  <textarea
    [(ngModel)]="eq.EQUIPMENT_ITEM_Description"
    placeholder="Mô tả thiết bị"
    rows="3"
  ></textarea>
</td>

<td>
  <textarea
    [(ngModel)]="eq.EQUIPMENT_TYPE_Name"
    placeholder="Loại thiết bị"
    rows="2"
  ></textarea>
</td>



          <td>1</td>

          <td>
           {{ eq.EQUIPMENT_ITEM_Status }}
          </td>
          <td>
           <select [(ngModel)]="eq.REQUEST_ITEM_Status" style="width:50%">
              <option [value]="'Mua mới'">Mua mới</option>
              <option [value]="'Sữa chữa'">Sữa chữa</option>
            </select>
          </td>
          <td>
            <button (click)="xoaHang(i)">❌</button>
          </td>
        </tr>
      </tbody>
    </table>
      <div class="item_r">
      <span>Ghi chú:</span>
      <textarea style="width: 50%;" rows="2"  [(ngModel)]="REQUEST_SLIP_Note" ></textarea>
    </div>

    <div (click)="request()" class="button_r" >
      Gửi yêu cầu
    </div>


  </div>
    <app-user/>
</div>

<app-footer/>
